<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftConcurrencyBootcamp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71C3206D29D27DC0008310B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71C3207D29D27DC2008310B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71C3208729D27DC2008310B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
